{% extends 'userprofile/dashboard.html' %}

{% block complaint_status_section %}



<div class="container">
    <div class="row">
      <div class="col">
        <h1 style="color:rgb(64, 245, 9) ">Complaint Status Section</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Complaint details </th>
              <td>Road reconstruction</td>
            </tr>
            <tr>
              <th>complaint status </th>
              <td>work will start soon</td>
            </tr>
            <tr>
              <th>Expected time to complete</th>
              <td>15-05-2022</td>
            </tr>
            
            
        </table>
        
      </div>
    </div>
  </div>

{% endblock %}
