
.custom-form input{
    
}


.helptext{
    color: limegreen;
}


.bg-light-custom{
    background-color: rgba(0, 0, 0, 0.1);
}

.card{
    border-radius: 10px;
}

.login-page{
    background-image: url("../images/before-you-file-a-complaint.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}
